body > section.index div.hi{
    width: 100%;
    background: #ddd;
    background-image: url(../img/background-hi.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
body > section.index div.hi > .layer{
    background: rgba(0, 0, 0, 0.49);
    padding: 55px 0px;
}
body > section.index div.hi > .layer > .content > i.fa{
    color: #2ecc71;
    font-size: 55px;
    margin-bottom: 19px;
}
body > section.index div.hi > .layer > .content > img.logo{
    width: 195px;
    height: auto;
}
body > section.index div.hi > .layer > .content > h1{
    color: #fff;
    font-size: 32px;
    text-shadow: 0px 1px 2px #000;
}
body > section.index div.hi > .layer > .content > h1 span{
    color: #2ecc71;
}
body > section.index div.hi > .layer > .content > h2{
    color: #fff;
    text-shadow: 0px 1px 2px #000;
}
body > section.index div.hi > .layer > .content > h2 span{
    color: #2ecc71;
}
body > section.index div.hi > .layer > .content > a{
    width: 5%;
    color: #fff;
    font-size: 55px;
    margin: 0px auto;
    margin-top: 55px;
    display: block;
}
body > section.index div.hi > .layer > .content > a.komicho-login{
    width: 250px;
}
body > section.index div.hi > .layer > .content > a.komicho-login img{
    border-radius: 5px;
}
body > section.index  .top-companies{
    width: auto;
    text-align: center;
    padding: 29px 0px;
}
body > section.index  .top-companies div div div .grid{
    text-align: center;
    margin-bottom: 39px;
}
body > section.index  .top-companies div div div .grid .top-companies h2{
    color: #232323;
    font-size: 29px;
}
body > section.index  .top-companies div div div .grid .top-companies p{
    color: #777;
    font-size: 15px;
}
body > section.index  .top-companies div div div .companie{
    width: auto;
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    padding: 21px;
    margin: 13px 0px;
}
body > section.index  .top-companies div div div .companie > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
body > section.index  .top-companies div div div .companie > h3 a{
    color: #232323;
}

body > section.index .slices{
    width: auto;
    background: #f9f9f9;
    padding: 55px 15px;
}
body > section.index .slices div div div .slice{
    width: auto;
    text-align: center;
}
body > section.index .slices div div div .slice > img{
    width: 250px;
    height: 250px;
    border: 7px solid rgba(46, 204, 113, 0.67);
    border-radius: 50%;
    margin-bottom: 15px;
}
body > section.index .slices div div div .slice > .text{
    width: auto;
    padding: 0px 29px;
}
body > section.index .slices div div div .slice > .text b{
    color: #232323;
    font-size: 19px;
}
body > section.index .slices div div div .slice > .text p{
    font-size: 15px;
}

body > section.index .offer{
    width: auto;
    background: #f9f9f9;
    padding: 15px;
}
body > section.index .offer div div div .steps{
    width: auto;
    padding: 55px 0px;
}
body > section.index .offer div div div .steps div div .step{
    width: auto;
    text-align: center;
    margin: 9px 0px;
}
body > section.index .offer div div div .steps div div .step > .icon{
    width: 190px;
    height: 190px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #999;
    border-radius: 50%;
    color: #999;
    font-size: 99px;
    padding-top: 43px;
    margin: 0px auto;
}
body > section.index .offer div div div .steps div div .step > .text{
    color: #232323;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
}
body > section.index .jobs{
    width: auto;
    padding: 55px 0px;
}
body > section.index .jobs h2{
    color: #232323;
    text-align: center;
    margin-bottom: 15px;
}
body > section.index .jobs div div div a{
    width: 100%;
    background: #eee;
    border-bottom: 2px solid #ddd;
    color: #232323;
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 17px;
    margin: 15.5px 0px;
}