body > section.notification{
    width: auto;
    margin-top: 37px;
}
body > section.notification div div div .show{
    width: auto;
    background: #eee;
    text-align: center;
    padding: 55px;
    margin: 55px 0px;
}

body > section.notification div div div .show > i.fa{
    color: #34495e;
    font-size: 99px;
}

body > section.notification div div div .show > p{
    color: #34495e;
    font-size: 23px;
}