@font-face{
    font-family: 'DroidArabicKufiRegular';
    font-style: normal;
    src: url('../fonts/DroidArabicKufiRegular.ttf');
}
*{
    outline: none;
    font-family: DroidArabicKufiRegular, Tahoma;
}
a{
    color: #2ecc71;
}
img.ajaxloading{
    width: 39px;
    height: auto;
    margin-right: 15px;
    display: none;
}

.datepicker.flat input{
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #555;
    font-size: 15px;
    padding: 9px 15px;
}

body{
    background: #fff;
}

.attention-warning{
    width: auto;
    background: #f1c40f;
    color: #34495e;
    font-size: 19px;
    padding: 7px 29px;
}

.komicho-input-group{
    width: auto;
    margin: 19px 0px;
}
.komicho-input-group > label{
    width: auto;
    color: #555;
    font-size: 15px;
    display: block;
}
.komicho-input-group > span.slogan{
    color: #999;
    font-size: 13px;
    display: block;
    margin-top: 3px;
}
.komicho-input-group > input, .komicho-input-group > select, .komicho-input-group > textarea{
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #ddd;
    color: #555;
    font-size: 15px;
    padding: 9px 15px;
}
.komicho-input-group > select{
    padding: 5px 15px;
}
.komicho-input-group > input[readonly='readonly']{
    background: #ddd;
}
.komicho-input-group > button{
    background: #2ecc71;
    border: 1px solid #20a056;
    color: #fff;
    font-size: 15px;
    padding: 9px 29px;
}
.komicho-input-group > button:disabled{
    background: #45d482;
}
.komicho-input-group > button > i.fa{
    font-size: 15px;
}