section.sign{
    width: auto;
    padding: 55px 0px;
}
section.sign > div div div .form{
    width: auto;
    background: #eee;
    border:1px solid #ddd;
    padding: 29px 63px;
}
section.sign > div div div .form .komicho-input-group > input{
    background: #fff;
}
section.sign > div div div .datails{
    width: auto;
/*    background: #f5f5f5;*/
    padding: 0px 23px;
}
section.sign > div div div .datails > i.fa{
    color: #555;
    font-size: 99px;
    display: block;
    text-align: center;
}
section.sign > div div div .datails > h2{
    color: #555;
    font-size: 19px;
    display: block;
    text-align: center;
}
section.sign > div div div .datails > ol {
    list-style-type: none;
    counter-reset: my-badass-counter;
}
section.sign > div div div .datails > ol li{
    margin: 13px 0px;
    padding: 9px;
    display: inline-block;
}
section.sign > div div div .datails > ol li:before {
    background: #2ecc71;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 0px 7px;
    margin-left: 7px;
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
}
section.sign > .login{
    width: 300px;
    background: #eee;
    border:1px solid #ddd;
    padding: 29px;
    margin: 0px auto;
}
section.sign > .login .komicho-input-group > input{
    background: #fff;
}